$white: #fff;
$black-1: #333;
$black-2: #777;
$grey-1: #d0d0d0;
$grey-2: #f5f5f5;
$blue-1: #3498db;
$blue-2: rgba(63, 80, 98, 0.9);
$blue-3: #4A90E2;
$brown-1: #afafaf;
$brown-2: #a4a4a4;
$brown-3: #d8d8d8;
