@use 'sass:math';
@use '../../01-settings/colors' as c;
@use '../../01-settings/fonts';
@use '../../02-tools/functions' as f;
@use '../../02-tools/mixins' as m;

.c-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
    background-color: c.$brown-2;
    overflow: hidden;

    &__image {
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__content {
        position: relative;
        margin-top: auto;
    }

    &__tagline {
        margin-bottom: f.rem(14);
        color: c.$white;
        font-family: fonts.$secondary-font-stack;
        font-weight: 700;
        font-size: f.rem(11);
        text-transform: uppercase;
        text-align: center;
        line-height: math.div(24, 11);
        letter-spacing: 3.4px;
    }

    &__headline {
        margin-bottom: f.rem(28);
        color: c.$white;
        font-family: fonts.$primary-font-stack;
        font-weight: 300;
        font-size: 1.5rem;
        text-align: center;
        line-height: math.div(58, 40);

        @include m.media-breakpoint-up(sm) {
            font-size: f.rem(30);
        }

        @include m.media-breakpoint-up(lg) {
            font-size: f.rem(40);
        }
    }

    &__headline-content {
        display: block;
    }

    &__teaser-text {
        color: c.$white;
        text-align: center;
        line-height: math.div(20, 16);
    }

    &__cta {
        position: relative;
        width: f.rem(30);
        height: 2rem;
        margin: auto 0 f.rem(60);
        cursor: pointer;

        &:focus {
            border: 1px dotted c.$white;
            outline: none;
        }
    }

    &__cta-image {
        width: 100%;
        height: 100%;
        object-fit: contain;
        filter: invert(100%);
    }
}