@use '../../01-settings/dimensions' as d;
@use '../../01-settings/colors' as c;
@use '../../02-tools/functions' as f;

.c-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    padding: d.$header-padding 0;
    transition: background-color .3s ease-in-out 0.4s;

    &--nav-open {
        background-color: c.$blue-1;
        transition-delay: 0s;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        background-color: coral;
    }

    &__logo {
        display: block;
        height: d.$header-logo-height;
    }

    &__image {
        height: 100%;
        object-fit: cover;
    }
}
